.vscode/**
.vscode-test/**
src/**
out/test/**
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
node_modules/**
claude-plugin/**
.claude-plugin/**
.idea/**
.github/**
.claude/**